body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(106, 112, 238);
    background-image: url("https://media.licdn.com/dms/image/D5612AQGplp7JKG6Iiw/article-cover_image-shrink_720_1280/0/1673950361361?e=1717027200&v=beta&t=Xknzg-np7_gziQ7g7w2rJemMeSiBlCxtVcIJ_v-GN08");
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

h1, h2 {
    text-align: center;
}

.balance {
    text-align: center;
}

.balance p {
    font-size: 24px;
    font-weight: bold;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.transactions ul {
    list-style-type: none;
    padding: 0;
}

.transactions li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.transactions li.expense {
    border-color: #dc3545;
}

.transactions li.income {
    border-color: #28a745;
}
